

<!-- footer -->
<div class="container1">
  <footer class="footer">
    <div class="container row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a class="nav-link" routerLink="/home">Home </a></li>
          <li>
            <a class="nav-link"  routerLink="/products" >Prodcuts</a></li>
          <li><a class="nav-link" routerLink="/contact">Contact As </a></li>
          <li><a href="#">visit website</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">download</a></li>
          <li><a href="#">changelog</a></li>
          <li><a href="#">github</a></li>
          <li><a href="#">all version</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"
            ><i class="fa fa-facebook-square" aria-hidden="true"></i
          ></a>
          <a href="#"
            ><i class="fa fa-twitter-square" aria-hidden="true"></i
          ></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>

  <!-- footer -->

  <!-- </div>  -->
</div>
