  







 <!-- contact  -->
 <div class="social-wrapper">
    <!-- remaining code USE THIS TO MAKE IT THE POST FOR WORDPRESS Using SimpleCss Plugin -->



<div id=inner>
<div class="location">

 

</div>
<h1 class="contact"><span class="purple">C</span>onctact <span class="purple">U</span>s</h1>

<form class="form" action="/action_page.php">
  <input class="name" type="text" id="fname" name="firstname" placeholder="Name">
  <input class="email" type="text" id="lname" name="lastname" placeholder="Email">
  <textarea class="message"
   id="subject" name="subject" placeholder="Message us..."></textarea>
  <input class="button" type="submit" value="Submit">
</form>

<div class="socials">
 <a href="#"><i class="fab fa-codepen"></i></a>
 <a href="#"><i class="fab fa-twitter"></i></a>
 <a href="#"><i class="fab fa-github"></i></a>
 <a href="#"><i class="fab fa-instagram"></i></a>
</div>


</div>
</div>
<!-- contact end -->